* {
	font-family: monospace;
}

body {
	min-height: 100vh;
	background: linear-gradient(to top, rgb(0, 49, 88) 0%, rgb(255, 255, 255));
}

h2 {
	text-transform: capitalize;
}
.controls {
	display: flex;
	flex-direction: column;
	width: 200px;
	color: white;
	font-size: 1rem;
	padding: 0.5rem;
}
.modules {
	background: linear-gradient(rgb(0, 27, 55), transparent);
	display: flex;
	flex-direction: row;
}
.synth {
	width: 800px;
	margin: 0 auto;
}

// ***
// REMOVING DEFAULT SLIDER STYLES
// ***
input[type="range"] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	appearance: none;
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
	padding: 1rem 0 1rem 0;
}
// ***
// STYLING THE THUMB
// ***
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
}
input[type="range"]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type="range"]::-ms-track {
	width: 100%;
	cursor: pointer;
	/* Hides the slider so custom styles can be added */
	background: transparent;
	border-color: transparent;
	color: transparent;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	// border: 4px solid white;
	height: 22px;
	width: 22px;
	border-radius: 0;
	background: red;
	cursor: pointer;
	margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	// box-shadow: 2px 2px 0px #000000; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
	border: 4px solid black;
	height: 22px;
	width: 22px;
	margin-top: -7px;
	border-radius: 0;
	background: transparent;
	// box-shadow: 2px 2px 0px #000000;
	cursor: pointer;
}

// ***
// STYLING THE TRACK
// ***
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 22px;
	cursor: pointer;
	// box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: black;
	border-radius: 1px;
	border: 6px solid white;
}

// input[type="range"]:focus::-webkit-slider-runnable-track {
// 	background: #367ebd;
// }

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
